header.profile {
  height: 400px;
  width: 100%;
  color: white;
  background-color: #24dae0;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  text-align: center;
}