html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  width: 90%;
  margin: 50px auto 0;
  background-color: #f4f1ec;
}

@media only screen and (min-width: 1000px) {
  
  .flex-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }  

  .flex-container header.profile {
    width: 30%;
    margin-left: 50px;
  }

  .flex-container .container {
    width: 50%;
    margin-right: 50px;
    margin-left: 0;
    margin-top: 0;
  }
}