nav {
  height: 120px;
  width: 100vw;
  z-index: 1;
  background-color: #4056A1;
  color: #FFF;
  padding: 1.4em;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav i {
  color: orange;
}

nav p {
  width: 100%;
}

nav button {
  width: 25%;
  background-color: #4056A1;
  color: #FFF;
  border: none;
  cursor: pointer;
}