nav {
  height: 120px;
  width: 100vw;
  z-index: 1;
  background-color: #4056A1;
  color: #FFF;
  padding: 1.5em;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee', sans-serif;
}
nav div {
  text-align: center;
}
nav i {
  color: orange;
}
nav i:hover {
  cursor: pointer;
}