.tweet {
  border: 5px solid #545149;
  padding: 15px;
  margin-bottom: 75px;
}

.tweet header {
  padding: 5px 10px 15px;
}

.tweet header div {
  display: flex;
  flex-direction: row;
}

.tweet p {
  padding: 0 15px;
}

.tweet div + h3 {
  display: none;
}

.tweet header p {
  font-size: 1.4em;
  padding: 10px 15px;
}

.tweet .message {
  margin: 20px 0 30px;
  font-size: 1.1em;
}

.tweet footer {
  border-top: 5px solid #545149;
  padding: 15px 15px 5px;
}

.tweet footer i {
  display: none;
  color: #4056A1;
}

.tweet header, .tweet footer {
  display: flex;
  justify-content: space-between;
}

.tweet:hover {
  text-shadow: 1px 1px 1px #c4cae2;
  box-shadow: 5px 5px #c4cae2;
}

.tweet:hover div + h3 {
  display: inline-block;
  color: #c4cae2;
  padding: 10px 15px
}

.tweet:hover footer i {
  display: inline-block;
}